In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
df = pd.read_csv(r"D:\Study\Model X\Dementia Prediction\Dataset\Processed\Target_Variable_Analysed.csv")
df.head()

C:\Users\Mitheesha\AppData\Local\Temp\ipykernel_17084\2370875049.py:1: DtypeWarning: Columns (35,37,39,41,59,65,80,82,85,87,89,91,141,152) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"D:\Study\Model X\Dementia Prediction\Dataset\Processed\Target_Variable_Analysed.csv")

,NACCID,NACCADC,PACKET,FORMVER,VISITMO,VISITDAY,VISITYR,NACCVNUM,NACCAVST,NACCNVST,...,BIPOLAR,SCHIZ,DEP2YRS,DEPOTHR,ANXIETY,OCD,NPSYDEV,PSYCDIS,PSYCDISX,DEMENTED
0,NACC002909,186,I,3.0,12,28,2022,1,2,2,...,0,0,0,0,1,0,9,0,NaN,0
1,NACC002909,186,F,3.0,1,23,2024,2,2,2,...,-4,-4,-4,-4,-4,-4,-4,-4,NaN,0
2,NACC003487,186,I,3.0,11,15,2023,1,1,1,...,0,0,0,0,0,0,0,0,NaN,0
3,NACC004352,186,I,3.0,10,5,2021,1,1,1,...,9,9,9,9,9,9,9,9,NaN,1
4,NACC004687,186,I,3.0,11,14,2022,1,1,1,...,0,0,0,0,0,0,0,0,NaN,0

In [4]:
# Select columns that are likely situational / descriptive
situational_cols = [col for col in df.columns if col.startswith('IN') or col.endswith('X')]

# Check fill percentage for these columns
for col in situational_cols:
    fill_percent = df[col].notnull().sum() / len(df) * 100
    print(f"{col}: {fill_percent:.2f}% filled")

SEX: 100.00% filled
HISPORX: 0.27% filled
RACEX: 1.20% filled
RACESECX: 0.20% filled
RACETERX: 0.02% filled
PRIMLANX: 1.40% filled
INDEPEND: 100.00% filled
INBIRMO: 100.00% filled
INBIRYR: 100.00% filled
INSEX: 100.00% filled
INHISP: 100.00% filled
INHISPOR: 100.00% filled
INHISPOX: 0.12% filled
INRACE: 100.00% filled
INRACEX: 0.81% filled
INRASEC: 100.00% filled
INRASECX: 0.15% filled
INRATER: 100.00% filled
INRATERX: 0.03% filled
INEDUC: 100.00% filled
INRELTO: 100.00% filled
INRELTOX: 0.80% filled
INKNOWN: 100.00% filled
INLIVWTH: 100.00% filled
INVISITS: 100.00% filled
INCALLS: 100.00% filled
INRELY: 100.00% filled
NACCAMX: 13.02% filled
NACCAMSX: 12.98% filled
NACCFMX: 12.99% filled
NACCFMSX: 12.99% filled
NACCOMX: 13.16% filled
NACCOMSX: 7.03% filled
CVOTHRX: 7.86% filled
NCOTHRX: 3.00% filled
ARTHTYPX: 0.16% filled
ARTHUPEX: 100.00% filled
ARTHLOEX: 100.00% filled
INCONTU: 100.00% filled
INCONTF: 100.00% filled
INSOMN: 100.00% filled
OTHSLEEX: 0.37% filled
ABUSX: 0.73% filled
PSYCDISX: 4.28% filled

In [5]:
drop_cols = ['NACCID','NACCADC','PACKET','FORMVER','VISITMO','VISITDAY','VISITYR',
             'NACCVNUM','NACCAVST','NACCNVST','NACCDAYS','NACCFDYS','NACCDIED','NACCMOD',
             'NACCFAM','NACCMOM','NACCDAD','NACCFADM','TELCOV','TELMOD',

                'NACCYOD','NACCACTV','NACCNOVS','NACCDSMO','NACCDSDY','NACCDSYR',
                'NACCNURP','NACCNRMO','NACCNRDY','NACCNRYR',
                'NACCMDSS','NACCPAFF','NACCREAS','NACCREFR',
                'NACCNINR','NACCAM','NACCAMX','NACCAMS','NACCAMSX',
                'NACCFFTD','NACCFM','NACCFMX','NACCFMS','NACCFMSX',
                'NACCOM','NACCOMX','NACCOMS','NACCOMSX',

                 'INBIRMO','INBIRYR','INSEX',
                  'INHISP','INHISPOR','INHISPOX',
                  'INRACE','INRACEX','INRASEC',
                  'INRASECX','INRATER','INRATERX','INEDUC',

                  'NCOTHR', 'NCOTHRX',

                  'HISPORX', 'RACEX', 'RACESECX', 'RACETERX', 'PRIMLANX', 'INRELTOX', 'ARTHTYPX', 'OTHSLEEX', 'ABUSX', 'PSYCDISX', 'CVOTHRX'
             ]
df.drop(columns=drop_cols, inplace=True)

In [6]:
df.head()

,BIRTHMO,BIRTHYR,SEX,HISPANIC,HISPOR,RACE,RACESEC,RACETER,PRIMLANG,EDUC,...,PTSD,BIPOLAR,SCHIZ,DEP2YRS,DEPOTHR,ANXIETY,OCD,NPSYDEV,PSYCDIS,DEMENTED
0,5,1952,1,0,88,1,88,88,1,16,...,0,0,0,0,0,1,0,9,0,0
1,5,1952,1,0,88,1,88,88,1,16,...,-4,-4,-4,-4,-4,-4,-4,-4,-4,0
2,12,1956,1,0,88,1,88,88,1,16,...,0,0,0,0,0,0,0,0,0,0
3,1,1958,2,1,1,1,88,88,2,16,...,9,9,9,9,9,9,9,9,9,1
4,2,1945,1,1,1,1,88,88,1,12,...,0,0,0,0,0,0,0,0,0,0

In [7]:
print(list(df.columns))

['BIRTHMO', 'BIRTHYR', 'SEX', 'HISPANIC', 'HISPOR', 'RACE', 'RACESEC', 'RACETER', 'PRIMLANG', 'EDUC', 'MARISTAT', 'NACCLIVS', 'INDEPEND', 'RESIDENC', 'HANDED', 'NACCAGE', 'NACCAGEB', 'NACCNIHR', 'NEWINF', 'INRELTO', 'INKNOWN', 'INLIVWTH', 'INVISITS', 'INCALLS', 'INRELY', 'TOBAC30', 'TOBAC100', 'SMOKYRS', 'PACKSPER', 'QUITSMOK', 'ALCOCCAS', 'ALCFREQ', 'CVHATT', 'HATTMULT', 'HATTYEAR', 'CVAFIB', 'CVANGIO', 'CVBYPASS', 'CVPACDEF', 'CVPACE', 'CVCHF', 'CVANGINA', 'CVHVALVE', 'CVOTHR', 'CBSTROKE', 'STROKMUL', 'NACCSTYR', 'CBTIA', 'TIAMULT', 'NACCTIYR', 'PD', 'PDYR', 'PDOTHR', 'PDOTHRYR', 'SEIZURES', 'TBI', 'TBIBRIEF', 'TRAUMBRF', 'TBIEXTEN', 'TRAUMEXT', 'TBIWOLOS', 'TRAUMCHR', 'TBIYEAR', 'DIABETES', 'DIABTYPE', 'HYPERTEN', 'HYPERCHO', 'B12DEF', 'THYROID', 'ARTHRIT', 'ARTHTYPE', 'ARTHUPEX', 'ARTHLOEX', 'ARTHSPIN', 'ARTHUNK', 'INCONTU', 'INCONTF', 'APNEA', 'RBD', 'INSOMN', 'OTHSLEEP', 'ALCOHOL', 'ABUSOTHR', 'PTSD', 'BIPOLAR', 'SCHIZ', 'DEP2YRS', 'DEPOTHR', 'ANXIETY', 'OCD', 'NPSYDEV', 'PSYCDIS', 'DEMENTED']

In [8]:
df.to_csv("D:\Study\Model X\Dementia Prediction\Dataset\processed/Feature_Eliminated.csv", index=False)